
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<script type="text/javascript" src="__JS__/jquery-1.9.1.js"></script>
<script type="text/javascript" src="__JS__/details.js" ></script>
<link rel="stylesheet" type="text/css" href="__CSS__/default_content.min.css"/>
</head>
<body id="lan">
<div class="ys-content">
  <div class="header">
    发信给下级  </div>
</div>
<div class="content_mid">
<form action="?" method="post" name="updateform" onsubmit="return checkform(this)" >
<input type="hidden" name="controller" value="user" />
<input type="hidden" name="action" value="messagestoparent" />
<input type="hidden" name="flag" value="towhom" >
<input type="hidden" name="userid" value="77853" >

<div class="intro_content message_table">
  <table width="60%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="20%" class="td-field">
        标题：
      </td>
        <td>
        <input name="subject" id="subject" type="text" class="custom_input">
      </td>
    </tr>
    <tr>
      <td width="20%" class="td-field">
        内容：
      </td>
    <td>
      <textarea name="content" rows="15" id="content" style="width:400px; height:auto; resize:none" class="custom_input"></textarea>
    </td>
    </tr>
  </table>
</div>
<div align="center">
  <input name="" type="submit" value="提交" onclick="" class="btn margin0" />
  <input name="" type="reset" value="重置" class="margin0 alert_btn"  onclick="this.form.reset()" />
</div>
</form>
</div>
<script>
	$(function(){
		$(parent.document).find("#mainFrame").height($(".content_mid").outerHeight(true) + $(".ys-content").outerHeight(true) + 200);
	})
  function checkform(obj){
    if (obj.subject.value == "") {
        window.top.sAlert("请输入标题");
        obj.subject.focus();
        return false;
      }
    if (obj.content.value == "") {
      window.top.sAlert("请输入内容");  
        obj.content.focus();
        return false;
      }   
    return true;
  }
</script>
<script type="text/javascript">
	
	
	try {
		var msgCount = 0;
		window.parent.parent.$('.notification').text(msgCount);
		if(msgCount < 1)
		{
			window.parent.parent.$('.notification').hide();
		}else{
			window.parent.parent.$('.notification').show();
		}	
		
	} catch (e) {
		// TODO: handle exception
	}
</script></body>
</html>