<extend name="Public/base" />

<block name="body">
	<!-- 标题栏 -->
	<div class="main-title">
		<h2>投注记录</h2>
	</div>
	<php> $mname=array('2.000'=>'元','0.200'=>'角','0.020'=>'分');</php>
	<!-- 高级搜索 -->
	<div class="search-form fl cf">
		<form action="{:U('betlog')}" method="post">
			<div class="sleft">
				<select style="width:100px;" name="isTest">
					<option value="1">全部号</option>
					<?php
						if($isTest == 2){
							echo '<option value="2" selected="selected">会员号</option>';
						}else{
							echo '<option value="2">会员号</option>';
						}
					?>
					<?php
						if($isTest == 3){
							echo '<option value="3" selected="selected">测试号</option>';
						}else{
							echo '<option value="3">测试号</option>';
						}
					?>
				</select>
			</div>
			<div class="sleft">
				期号：<input id="action_no" style="width:100px" type="text" name="actionNo" class="search-input" value="{:I('actionNo')}" placeholder="期号">
			</div>
			<div class="sleft">
				单号：<input id="wjorderId" style="width:100px" type="text" name="wjorderId" class="search-input" value="{:I('wjorderId')}" placeholder="单号">
			</div>
			<div class="sleft">
				用户名：<input id="username" style="width:100px" type="text" name="username" class="search-input" value="{:I('username')}" placeholder="用户名">
			</div>
			<div class="sleft" id="type">
				<select style="width:100px;" name="type">
					<option value="">全部彩种</option>
					<?php
					if($types) foreach($types as $var){
						if($var['enable'] && !$var['isDelete']){
							if($type == $var['id']){
					?>
					<option value="<?=$var['id']?>" title="<?=$var['title']?>" selected="selected"><?=$this->ifs($var['shortName'], $var['title'])?></option>
					<?php }else{?>
					<option value="<?=$var['id']?>" title="<?=$var['title']?>"><?=$this->ifs($var['shortName'], $var['title'])?></option>
					<?php }}} ?>
				</select>		
			</div>
			<div class="sleft" id="lottery_status">
				<select style="width:100px;" name="lottery_status">
					<option value="">开奖状态</option>
					<?php
						if($lottery_status == 1){
							echo '<option value="1" selected="selected">全部</option>';
						}else{
							echo '<option value="1">全部</option>';
						}
					?>
					<?php
						if($lottery_status == 2){
							echo '<option value="2" selected="selected">已开奖</option>';
						}else{
							echo '<option value="2">已开奖</option>';
						}
					?>
					<?php
						if($lottery_status == 3){
							echo '<option value="3" selected="selected">未开奖</option>';
						}else{
							echo '<option value="3">未开奖</option>';
						}
					?>
				</select>
			</div>
			<div class="sleft" id="start_time">
				时间从：<input style="width:80px" type="text" name="fromTime" id="first" class="search-input" value="<?=$this->iff(I('fromTime'),I('fromTime'),date('Y-m-d',time())) ?>" placeholder="开始时间">
			</div>
			<div class="sleft" id="end_time">
				到：<input style="width:80px" type="text" name="toTime" id="end" class="search-input" value="<?=$this->iff(I('toTime'),I('toTime'),date('Y-m-d',time())) ?>" placeholder="结束时间">
			</div>
			<div class="sbtn">
				<button type="submit" class="btn" id="search">查 找</button>
			</div>
		</form>
		<div class="sbtn">
			<button class="btn confirm ajax-post" id="cancelBets" onclick="cancelBets()">撤 单</button>
		</div>
	</div>
	
    <!-- 数据列表 -->
    <div class="data-table table-striped">
	<table class="">
    <thead>
        <tr>
		<th>单号</th>
		<th>用户名</th>
		<th>投注时间</th>
		<th>彩种</th>
		<th>玩法</th>
		<th>期号</th>
		<th>倍数</th>
		<th>模式</th>
		<th>投注号码</th>
		<th>投注金额</th>
		<th>中奖金额</th>
		<th>返点</th>
		<th>抽水</th>
		<th style="color:yellow">改单</th>
		<th style="color:yellow">撤单</th>
		</tr>
    </thead>
    <tbody>
		<if condition="$_list">
		<volist name="_list" id="vo">
		<tr>
			<td><a href="{:U('business/betInfo?id='.$vo['id'])}" button="确定:defaultCloseModal" title="投注信息" width="800" target="modal"><?=$vo['wjorderId']?></a></td>
			<td><a href="{:U('betlog?username='.$vo['username'])}">{$vo.username} </a></td>
			<td><?=date('m-d H:i:s', $vo['actionTime'])?></td>
			<td><a href="{:U('betlog?type='.$types[$vo['type']]['id'])}"> <?=$this->ifs($types[$vo['type']]['shortName'],$types[$vo['type']]['title'])?> </a></td>
			<td><?=$playeds[$vo['playedId']]['name']?></td>
			<td><?=$vo['actionNo']?></td>
			<td><?=$vo['beiShu']?></td>
			<td><?=$mname[$vo['mode']]?></td>
			<td data-code="<?=$vo['actionData']?>"><?=$this->CsubStr($vo['actionData'],0,10)?></td>
			<td><?=number_format($vo['mode'] * $vo['beiShu'] * $vo['actionNum'], 3)?></td>
			<td>
				<?php 
				if($vo['isDelete']==1){
					echo '已撤单';
				}else{
					if($vo['lotteryNo'] !== ''){
						echo number_format($vo['zjCount'] * $vo['bonusProp'] * $vo['beiShu'] * $vo['mode']/2, 3);
					}else{
						echo '未开奖';
					}
				}
				?>
            </td>
			<td><?=number_format($vo['mode'] * $vo['beiShu'] * $vo['actionNum'] * $vo['fanDian']/100, 3)?></td>
			<td><?=$vo['fanDianAmount']?></td>
			<td><a href="{:U('business/updateBet?id='.$vo['id'])}" button="修改:dataAddCode|取消:defaultCloseModal" title="修改投注信息" width="510" target="modal" modal="true">修改</a></td>
			<td><a href="{:U('business/deleteBet?id='.$vo['id'])}" title="是否确定撤单" width="510" target="ajax" method="get">撤单</a></td>
			<td><a href="{:U('business/deleteBetTrue?id='.$vo['id'])}" title="是否确定撤单" width="510" target="ajax" method="get">删除</a></td>

		</tr>
		</volist>
		<else />
			<tr>
				<td colspan="15" align="center">暂时没有投注记录。</td>
			</tr>
		</if>
	</tbody>
    </table> 
	</div>
    <div class="page">
        {$_page}
    </div>
</block>

<block name="script">
    <link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">
	<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>

	<script>
	$(function(){
		$('#first,#end').datetimepicker({
			format: 'yyyy-mm-dd',
			language:"zh-CN",
			minView:2,
			autoclose:true
		});
		//showTab();
	});
	</script>
	<script type="text/javascript">
		//回车搜索
		$("body").keyup(function(e){
			if(e.keyCode === 13){
				$("#search").click();
				return false;
			}
		});
		$('.side-sub-menu').find('a[href="{:U('business/betlog')}"]').closest('li').addClass('current');

		function cancelBets() {
            var type = $('#type option:selected').val();
		    var lottery_status = $('#lottery_status option:selected').val();
            var action_no = $('#action_no').val();
            if (!type){
				alert("请先选择彩种");
				return;
			}
            if (!lottery_status){
                alert("请先选择开奖状态");
                return;
            }
            if (!action_no){
                alert("请先输入期号");
                return;
            }
            $.ajax({
                type: "POST",
                url: '{:U("business/cancelBets")}',
                data: {
                    type: type,
                    lottery_status: lottery_status,
                    action_no: action_no
                },
                dataType: "json",
                global: false,
                success: function(result) {
                    alert(result['msg']);
                    window.location.reload();
                },
                error: function(err) {
                    alert(err);
                    window.location.reload();
                }
            })
        };
	</script>
</block>

<block name="style">
<style>
.popupModal table tr{
	border-bottom:#CCCCCC solid 1px;
}

.popupModal table tr td .tzdata {
	border: #CCCCCC solid 1px;
	margin-top: 5px;
	padding: 5px;
	word-wrap: break-word;
	word-break: normal;
	word-break: break-all;
	width: 98%;
	height: 80px;
	overflow: scroll;
}
</style>

</block>