<script type="text/javascript">
    function show_no(id)
    {
        $("#code_"+id).show("slow");
    }
    function close_no(id)
    {
        $("#code_"+id).hide("slow");
    }
</script>
<table class="chart-table table table-border"
       style="width: 100%; white-space: nowrap !important; overflow: hidden !important;">
    <thead class="thead">
    <tr class="title-text">
        <th  width="11%">追号时间</th>
        <th >用户</th>
        <th style="width:8%">彩种</th>
        <th >开始期数</th>
        <th  width="12%">追号内容</th>
        <th >追号总金额</th>
        <th >完成金额</th>
        <th   width="9%">取消金额</th>
        <th >追中即停</th>
        <th style="width:auto">追号状态</th>
    </tr>
    </thead>
    <tbody>
    {volist name="list" id="vo"}
    <tr align="center">
        <td>
            <a href="/game_record/index.html" target="_blank" title="查看追号详情">
                {$vo.actionTime}</a>
        </td>
        <td title=''>{$username}</td>
        <td title=''>{$vo.title}</td>
        <td>{$vo.actionNo}</td>
        <td>{$vo.actionData}</td>
        <td>{$vo.mode*$vo.beiShu*$vo.actionNum*($vo.fpEnable+1)}</td>
        <td>{$vo.bonus}</td>
        <td>{$vo.zhuiHaoMode_money}</td>
        <td  title='(高奖金)'>{$vo.zhuiHaoMode}</td>
        <td>
            <a href="/game_record/index.html" target="_blank">
                <span style="color: #ff4800;">进行中</span>
            </a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>