<script src="__JS__/jquery-1.9.1.js"></script>
<link rel="stylesheet" href="__CSS__/default_content.min.css">
<body id="lan">
<div class="ys-content">
    <div class="header" style="text-align: center">
        游戏协议 	</div>
    <div class="main">
        <div class="section">
            <div class="message_content" style="background-color: #FFFFFF;">
                <!--<h4 class="title"> </h4>-->
                <div>
                    <p>&nbsp;<b>1.</b>	本用户协议为本平台所有协议与规则，请会员进入本网站前务必详阅各条规则，若会员点击“同意”进入本网站后，将视为已经接受本网站一切规定。</p>
                    <p>&nbsp;<b>2.</b>	请定期修改本身帐户的登入密码及资金密码，会员有责任确保自己的帐户以及登入资料的保密性，所以会员帐号在平台上的任何投注，将被视为有效。请不定时的做密码变更修改，确保帐户安全。若帐号被盗用所进行的任何投注提款等，本平台一概不负赔偿责任。</p>
                    <p>&nbsp;<b>3.</b>	投注条款：</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	投注若未显示投注成功，投注将被视为无效。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	若开奖前玩家已成功投注，自动或强制断线时，并不影响开奖结算之结果。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	若遇到官网未开奖或是开奖号结果错误，本平台将根据实际情况做退奖退单处理。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	若遇到不可抗拒之灾害，例如黑客入侵、网路问题等造成数据丢失之情况，以本公司公告为准。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	若发现会员以不正当手法或透过平台漏洞隐瞒不报等进行投注，造成有损害公司利益的情事发生，本公司有权取消该类注单及其盈利，并停用该会员帐号。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	平台将会对所有的投注注单进行记录，如有任何的争议将以注单记录为准。</p>
                    <p>&nbsp;<b>4.</b>	若发生官方未开奖的情况，平台将于10期后自动撤单，若尚未过10期时间已过凌晨3点关盘时间，系统也将会自动撤单，若撤单之后官方才开奖，平台将不予处理。</p>
                    <p>&nbsp;<b>5.</b>	本平台高频彩每期最高中奖500,000元，若当期同样注单分多个相同ip帐号下注，中奖总额一样以最高利润500,000元计算，超出的利润不予发送。 (例：下注个位定位胆56789金额200,000，中奖后只能得500,000)。 低频彩每期最高中奖利润为30,000元，若当期同样注单分多个相同ip帐号下注，中奖总额一样以最高中奖利润为30,000元计算，超出的利润不予发送。 高频彩单挑中奖利润最高5,000元，若当期同样单挑注单分多笔下注或分多个相同ip帐号下注，中奖总额一样以最高利润5,000元计算，超出的利润不予发送。 低频彩单挑中奖利润最高3,000元，若当期同样单挑注单分多笔下注或分多个相同ip帐号下注，中奖总额一样以最高利润3,000元计算，超出的利润不予发送。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	中奖利润说明：举例投注100万，中奖金额200万，利润为100万，则平台只派发150万奖金。</p>
                    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;o	单挑模式说明：投注的中奖概率低于或等于1％的均为单挑模式。例如：[五星直选]1000注及以内，[四星直选]100注及以内，[三星直选]10注及以内，[二星直选]1注，[五星组选120]8注及以内，[五星组选60]16注及以内，[五星组选30]33注及以内，[五星组选20]50注及以内，[五星组选10]100注及以内，[五星组选5]200注及以内，[四星组选24]4注及以内，[四星组选12]8注及以内，[四星组选6]16注及以内，[四星组选4]25注及以内，[三星组六]1注，[三星组三]3注及以内......等等。</p>
                    <p>&nbsp;<b>6.</b>	平台在线客服及存款时间为24小时，取款维护时间为凌晨2点至早上9点，除维护时间皆可取款，取款每日限3次，单次最低取款金额为100元，单次最高100,000元，当日最高3,000,00元。</p>
                    <p>&nbsp;<b>7.</b>	为了防止恶意洗钱，会员充值完必须消费充值金额的30％才能提款，若未达出款消费量，将退还提现本金。</p>
                    <p>&nbsp;<b>8.</b>	平台银行帐号或支付宝充值帐号会不定期的做更换，请每次会员充值前务必打开充值页面获取最新的充值帐号，若充值到非公司当时提供之帐号，所造成的任何损失，平台一律不予负责。</p>
                    <p>&nbsp;<b>9.</b>	平台客服没有任何联系方式，唯一途径为平台上聊天室内的客服人员，其他均为假冒，若因此类问题上当受骗，平台一律不予负责。</p>
                    <p>&nbsp;<b>10.</b>若本公司发现会员有重复申请帐号行为时，保留取消、收回会员所有优惠红利，以及优惠红利所产生的盈利之权利。</p>
                    <p>&nbsp;<b>11.</b>会员帐号若超过30天未登入，且帐户馀额小于10元，30天內无任何帐变记录，系统将自动删除帐号。</p>
                    <p>&nbsp;<b>12.</b>每个月1号跟16号凌晨02：00至07：00，平台将进行例行的维护工作，请提前留意投注时间，以免造成不必要的损失。如果在预定时间内无法完成维护内容，开机时间也将继续顺延。</p>
                    <p>&nbsp;<b>13.</b>本公司保留不定时修改或增加协定游戏规则或保密条例等的操作权利，更改之条款将从更改发生后立即生效，并保留一切有争议事项及最后的决策权。</p>
                    <p>&nbsp;<b>14.</b>如会员追号注单因官方延迟开奖，导致中奖后无法停止继续追号，这边审核后将判定为正常注单，请会员在中奖后确认投注记录自行手动撤单，平台將不負任何責任。</p>
                    <p>&nbsp;<b>15.</b>腾讯分分彩官方偶尔会出现不即时更新的情形，若发生则当期不列入计算 （若因为官方数据超过2期未更新，导致每期开奖号码相同，此时平台有权将相同号码之期数以强制撤单处理，不计输赢）。</p>
                    <p>&nbsp;&nbsp;</p></div>
            </div>
        </div>
    </div>
</div>
<script>
   $(window).load(function() {
//        changeIframeHeight($("body").height())
        changeIframeHeight(1600);
    });
    function changeIframeHeight(height){
        $(parent.document).find("#mainFrame").height(height);
    }
</script>

</body>